/*.App {
  font-family: 'avenir next', avenir, sans-serif;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
  margin-left: 10px;
}

.App-header {
  background-color: #b9c4b4;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

.em-last_quarter_moon_with_face{
  float: left;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*"f6 link dim br-pill ph3 pv2 mb2 dib grayBackground"*/