
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  margin-left: 10px;
}

.App-header {
  background-color: #b9c4b4;
  height: 80px;
  padding: 10px;
  color: white;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.App-header:hover {
  transform: scale(1.05);
}

.App-intro {
  font-size: large;
}

.em-last_quarter_moon_with_face{
  float: left;
  margin-left: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}