body {
  margin: 0;
  padding: 0;
  font-family: 'avenir next', avenir, sans-serif;
  background-color: #dde5da;
}
a {
 text-decoration: none;
 color:inherit;
}

li {
  font-size: 1rem;
  opacity: 1;
  transition: opacity .15s ease-in;
  border-radius: 9999px;
  background-color: #b9c4b4;
  list-style-type: none;
  display:inline-block;
  padding: 10px;
  margin:20px;
}

li:hover {   
  opacity:.3;
  transition:opacity .15s ease-in;
}

button {
  border-radius: 9999px;
  font-family: 'avenir next', avenir, sans-serif;
  background-color: #b9c4b4; 
  opacity: 1;
  transition: opacity .15s ease-in;
  margin-left: 3vw; 
  margin-right: 3vw;
}
button:hover {
  opacity:.3;
  transition:opacity .15s ease-in;  
}
input {
  border-radius: 9999px;
  border:none ;
  height: 30px;
  margin: 10px;
}
textarea {
  border-radius: 9999px; 
  border:none ;
  height: 60px;
  margin: 10px;
}
h2 {
 text-align: center;
 color:white;
 text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
   -.5px .5px 0 #000,
    .5px .5px 0 #000;
}
p {
 padding-left: 10vw;
 padding-right: 10vw;
}
span {
 margin-left: 60%;
 margin-right: auto;
}
form {
 padding-left: 3vw;
 padding-right: 3vw;
 padding-bottom: 2vw;
}
div.book-list > label {
 padding-left: 3vw;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
